<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>游戏房间</title>

    <script src="/static/js/echarts.js"></script>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<div id="alert_beginfail" class="alert alert-warning" style="display: none;">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>无法开始游戏！</strong>还有玩家没有准备好。
</div>
<div id="alert_beginsuccess" class="alert alert-success" style="display: none;">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>游戏开始！</strong>
</div>
<!--显示游戏结果-->
<div id="modal_game_result" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">游戏结果</h4>
            </div>
            <div class="modal-body">
                <p id="game_result_message">...</p>
            </div>
            <div class="modal-footer">
                <button id="bt_confirm_game_result" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--显示提示消息-->
<div id="modal_warning_info" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">游戏提示</h4>
            </div>
            <div class="modal-body">
                <p id="game_warning_info">...</p>
            </div>
            <div class="modal-footer">
                <button id="bt_confirm_game_result" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">
    <div class="row">
        <p>
            <center>
                <button id="bt_userready" class="btn btn-large btn-primary" type="button">准备</button>
                <button id="bt_userexit" class="btn btn-large" type="button">退出</button>
        <p id="userid_hidden" hidden="hidden">{{my_id }}</p>
        <p id="roomid_hidden" hidden="hidden">{{room_id }}</p>
        </center>
        </p>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div style="height:30px;"></div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">昵称: &nbsp;<span id="user1_name"></span></h3>
                </div>
                <div class="panel-body">
                    <p>编号: &nbsp;<span id="user1_id"></span></p>
                    <p>胜率: &nbsp;<span id="user1_winrate"></span></p>
                    <P>状态: &nbsp;<span id='user1_label' class="label label-success"></span></P>
                </div>
            </div>

            <div style="height:150px;"></div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">昵称: &nbsp;<span id="user2_name"></span></h3>
                </div>
                <div class="panel-body">
                    <p>编号: &nbsp;<span id="user2_id"></span></p>
                    <p>胜率: &nbsp;<span id="user2_winrate"></span></p>
                    <P>状态: &nbsp;<span id='user2_label' class="label label-success"></span></P>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="gamezone" style="width: 100%;height:600px;"></div>
        </div>
        <div class="col-md-2">
            <div style="height:30px;"></div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">昵称: &nbsp;<span id="user3_name"></span></h3>
                </div>
                <div class="panel-body">
                    <p>编号: &nbsp;<span id="user3_id"></span></p>
                    <p>胜率: &nbsp;<span id="user3_winrate"></span></p>
                    <P>状态: &nbsp;<span id='user3_label' class="label label-success"></span></P>
                </div>
            </div>
            <div style="height:150px;">
                <div id="alert_putcell" class="alert alert-info alert-dismissible fade in" style="display: none;"
                     role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4>你的回合</h4>
                    <p>请在5秒内内放置10个细胞</p>
                    <p>
                        <button id="bt_submitcell" type="button" class="btn btn-success"> <span id="badge_seconds"
                                                                                                class="badge">5秒</span>
                        </button>
                    </p>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">昵称: &nbsp;<span id="user4_name"></span></h3>
                </div>
                <div class="panel-body">
                    <p>编号: &nbsp;<span id="user4_id"></span></p>
                    <p>胜率: &nbsp;<span id="user4_winrate"></span></p>
                    <P>状态: &nbsp;<span id='user4_label' class="label label-success"></span></P>
                </div>
            </div>
        </div>
    </div>
    <div class="row">...</div>
</div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('gamezone'));

    $(document).ready(function () {
        // 原始占位细胞坐标数据,用来监听鼠标事件
        // 这当前脚本的多个位置被直接操作,相当于公共耦合
        // 这些坐标点的数值是标准的(不是*.5形式的)
        var data_origin;

        /**
         * 管理四个用户的细胞的坐标信息
         * 对场地细胞的操作都直接在这个对象上进行
         */
        var data_user;
        var data_owner ;
        var turn_id;                                        // 轮到那个玩家开始游戏,这个玩家才能出发添加细胞操作
        var isCountDown;                                // 是否处于倒计时阶段
        var gamestatus;
        var ownerid;
        var inter_getField;
        var is_end;                                 // 判断游戏是否结束

        /**
         * 用户细胞和原始细胞的配置项
         * 散点图(scatter),方形(rect),不同种类细胞的颜色(color),名字(name),数据(data)
         */
        var myseries;

        // 游戏主场地的基础配置项设置
        var option;

        // 初始化原始细胞数据
        // 将每个点的坐标值初始化为*.5的形式
        var initDataOrigin = function(data_origin) {
            for (var i = 0; i < 20; i++) {
                for (var j = 0; j < 20; j++) {
                    data_origin[i * 20 + j] = [i + 0.5, j + 0.5];
                }
            }
        }

        var init = function() {
            data_origin = [];
            initDataOrigin(data_origin);

            data_user = [[], [], [], []];
            data_owner = [];
            turn_id = 0;
            isCountDown = false;
            gamestatus = false;
            ownerid = -1;
            is_end = false;
            inter_getField = 0;
            myseries = [
                {
                    name: '0',
                    type: 'scatter',
                    xAxisIndex: 0,
                    yAxisIndex: 0,
                    data: data_user[0],
                    symbol: 'rect',
                    symbolSize: 20,
                    itemStyle: {
                        normal: {
                            color: 'rgb(66, 139, 202)'
                        }
                    }
                },
                {
                    name: '1',
                    type: 'scatter',
                    xAxisIndex: 0,
                    yAxisIndex: 0,
                    data: data_user[1],
                    symbol: 'rect',
                    symbolSize: 20,
                    itemStyle: {
                        normal: {
                            color: 'rgb(184, 212, 135)'
                        }
                    }
                },
                {
                    name: '2',
                    type: 'scatter',
                    xAxisIndex: 0,
                    yAxisIndex: 0,
                    data: data_user[2],
                    symbol: 'rect',
                    symbolSize: 20,
                    itemStyle: {
                        normal: {
                            color: 'rgb(249, 235, 113)'
                        }
                    }
                },
                {
                    name: '3',
                    type: 'scatter',
                    xAxisIndex: 0,
                    yAxisIndex: 0,
                    data: data_user[3],
                    symbol: 'rect',
                    symbolSize: 20,
                    itemStyle: {
                        normal: {
                            color: 'rgb(236, 131, 148)'
                        }
                    }
                },
                {
                    name: 'origin',
                    type: 'scatter',
                    xAxisIndex: 0,
                    yAxisIndex: 0,
                    data: data_origin,
                    symbol: 'rect',
                    symbolSize: 20,
                    itemStyle: {
                        normal: {
                            color: 'rgb(255, 255, 255)'
                        }
                    }
                }
            ];
            option = {
                title: {
                    text: '生命游戏',
                    x: 'center',
                    y: 0
                },
                grid: [
                    {x: '7%', y: '7%', width: '80%', height: '80%', borderColor: '#8A8A8A', show: true}
                ],
                tooltip: {
                    formatter: 'position {a}: ({c})'
                },
                xAxis: [
                    {
                        gridIndex: 0, min: 0, max: 20, interval: 1,
                        axisLine: {show: false},
                        axisTick: {show: false},
                        axisLabel: {show: false}
                    }
                ],
                yAxis: [
                    {
                        gridIndex: 0, min: 0, max: 20, interval: 1,
                        axisLine: {show: false},
                        axisTick: {show: false},
                        axisLabel: {show: false}
                    }
                ],
                series: myseries
            };

            // 使用刚指定的配置项和数据显示图表
            myChart.setOption(option);
            myChart.on('click', function (params) {                 // 点击棋盘元素时触发
                if (turn_id == $("#userid_hidden").text() && isCountDown) {
                    var seriesName = params.seriesName;                     // 获得对应data_user的下标
                    var data = params.data;                                 // 获取当前点的坐标信息
                    var data = params.data;                                 // 获取当前点的坐标信息
                    if (seriesName == 'origin') {                           // 点击位置是原始细胞位置,说明这个点可以防止细胞
                        for (var i = 0; i < data_origin.length; i++) {
                            if (data_origin[i][0] == data[0] && data_origin[i][1] == data[1]) {
                                data_origin.splice(i, 1);
                                for (var j = 0; j < data_owner.length; j++) {
                                    if (data_owner[j] == $("#userid_hidden").text()) {
                                        console.log(data_owner[j] + "添加数据 [" + params.data[0] + ', ' + params.data[1] + ']');
                                        data_user[j].push(data);
                                        break;
                                    }
                                }
                            }
                        }
                        myChart.setOption(option);
                        submitUserChange();
                    }
                }
            });

            $("#bt_userready").removeAttr('disabled');
            $("#bt_userexit").removeAttr('disabled');
            console.log('场地初始化完成');
        }

        /*
         * 分配细胞空间
         * data_user 包含该了4个用户的所有细胞的信息
         * 在这里重新场地细胞数据
         * 用户从服务器获取到当前场地的信息,此时坐标还没有加上 0.5
         */
        function allocateCell(data_user) {
            initDataOrigin(data_origin);
            var x, y;// 用户细胞位置
            var x1, y1;// 初始占位细胞位置
            for (var i = 0; i < data_user.length; i++) {
                for (var j = 0; j < data_user[i].length; j++) {
                    // 加上 0.5
                    data_user[i][j][0] += 0.5;
                    data_user[i][j][1] += 0.5;
                    x = data_user[i][j][0];
                    y = data_user[i][j][1];
                    // 在占位细胞坐标数据中搜索,如果有则删除这个占位细胞,否则当前位置会有两个细胞
                    for (var k = 0; k < data_origin.length; k++) {
                        x1 = data_origin[k][0];
                        y1 = data_origin[k][1];
                        if (x == x1 && y == y1) {
                            data_origin.splice(k, 1);// 删除当前占位细胞
                            break;
                        }
                    }
                }
            }
        }

        var getRoomInfo = function () {
            var users = null;
            $.ajax({
                type: 'post',
                url: '/get_room_info',
                dataType: 'json',
                data: {
                    user_id: $("#userid_hidden").text(),
                    room_id: $("#roomid_hidden").text()
                },

                success: function (data) {
                    console.log('成功获取房间信息: ');
                    console.log(data);
                    users = data.users;
                    gamestatus = data.status;                      // 用来判断游戏是否还在准备状态
                    ownerid = data.owner;                          // 根据ID判断当前房主是谁
                    var myid = $("#userid_hidden").text();
                    var winrate = 0;
                    console.log('设置用户数据, 设置按钮状态');

                    for (i = 0; i < 4; i++) {
                        if (!$.isEmptyObject(users[i])) {           // 设置用户信息
                            $("#user" + (i + 1) + "_name").text(users[i].user_name);
                            $("#user" + (i + 1) + "_id").text(users[i].user_id);
                            if((users[i].win + users[i].fail) != 0) {
                                winrate = (users[i].win * 100 / (users[i].win + users[i].fail)).toFixed(2);
                                winrate += "%";
                            }else{
                                winrate = "0.00%";
                            }

                            $("#user" + (i + 1) + "_winrate").text(winrate);
                            if (users[i].user_status) {                             // 设置标签属性
                                $("#user" + (i + 1) + "_label").attr('class', 'label label-success');
                                $("#user" + (i + 1) + "_label").text('准备');
                            } else {
                                $("#user" + (i + 1) + "_label").attr('class', 'label label-warning');
                                $("#user" + (i + 1) + "_label").text('未准备');
                            }

                            if (myid == users[i].user_id) {                 // 判断当前for循环这个数据是不是我的数据
                                // 判断是不是房主
                                if (myid == ownerid) {
                                    if (!users[i].user_status) $("#bt_userready").text("开始");
                                } else {
                                    if (users[i].user_status) {
                                        $("#bt_userready").text("取消准备");
                                    } else {
                                        $("#bt_userready").text("准备");
                                    }
                                }

                            }
                        } else {
                            $("#user" + (i + 1) + "_name").text('');
                            $("#user" + (i + 1) + "_id").text('');
                            $("#user" + (i + 1) + "_winrate").text('');
                            $("#user" + (i + 1) + "_label").text('')
                        }
                    }

                    if (!gamestatus) {                              // 游戏未开始,一直获取房间信息,判断玩家状态
                        setTimeout(getRoomInfo, 1000);
                    }else {
                        $("#bt_userready").attr('disabled', true);  // 游戏开始, 设置按钮为禁用
                        $("#bt_userexit").attr('disabled', true);

                        for (var i = 0; i < users.length; i++) {    // 设置data_owner,用来判断对应data_user中数据的所属
                            console.log(users[i].user_id);
                            data_owner[i] = users[i].user_id;
                        }
                        console.log('游戏开始, 禁用按钮,获取场地信息');
                        inter_getField = setInterval(getField, 1000);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }

        var submitUserChange = function () {
            for (var i = 0; i < data_user.length; i++) {
                for (var j = 0; j < data_user[i].length; j++) {
                    data_user[i][j][0] -= 0.5;
                    data_user[i][j][1] -= 0.5;
                }
            }
            var data = JSON.stringify(data_user);           //TODO 这里不知道为什么不能直接发JSON数组

            $.ajax({
                type: 'post',
                url: '/change_field',
                dataType: 'json',
                data: {
                    room_id: $("#roomid_hidden").text(),
                    field: data
                },
                success: function (data) {
                    console.log(data.response_code);
                    if (data.response_code == 1) {
                        console.log('成功提交field数据');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
//                    alert('error ' + textStatus + " " + errorThrown);
                }
            });

            for (var i = 0; i < data_user.length; i++) {                        // 防止坐标点偏移现象
                for (var j = 0; j < data_user[i].length; j++) {
                    data_user[i][j][0] += 0.5;
                    data_user[i][j][1] += 0.5;
                }
            }
        }

        var getGameResult = function() {
            $.ajax({
                type: 'post',
                url: '/get_game_result',
                dataType: 'json',
                data: {
                    room_id: $("#roomid_hidden").text()
                },
                success: function (data) {
                    console.log(data);
                    $("#modal_game_result").addClass("alert");
                    if(data[$("#userid_hidden").text()]) {
                        $("#modal_game_result").addClass("alert-success");
                        $("#modal_game_result").removeClass("alert-danger");
                        $("#game_result_message").text("恭喜你, 你赢了!!!");
                    }else{
                        $("#modal_game_result").addClass("alert-danger");
                        $("#modal_game_result").removeClass("alert-success");
                        $("#game_result_message").text("对不起, 你输了...");
                    }
                    $("#modal_game_result").modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
//                    alert('error ' + textStatus + " " + errorThrown);
                }
            });
        }

        var getField = function () {
            $.ajax({
                type: 'post',
                url: '/get_field',
                dataType: 'json',
                data: {
                    room_id: $("#roomid_hidden").text()
                },
                success: function (data) {
                    console.log('成功获取场地信息: ')
                    console.log(data);
                    turn_id = data.turn_id;
                    console.log("轮到这个玩家放置细胞了-> " + turn_id);
                    is_end = data.is_end;                                   // TODO 判断游戏是否结束
                    data_user = data.field;                                 // 获取到的数据的坐标格式不是 *.5

                    allocateCell(data_user);                                // 设置数据格式,分配细胞位置
                    for (var i = 0; i < data_user.length; i++) {
                        myseries[i].data = data_user[i];
                    }

                    myChart.setOption(option);                              // 更新图表


                    if (turn_id == $("#userid_hidden").text()) {            // 如果是我的回合
                        // 显示提示用户添加细胞的信息框
                        $('#alert_putcell').show();             //显示用户可以放置细胞的提示框
                        var seconds = 5;                                    // ***config*** 用户可以放置细胞的时间限制

                        var countdown = function (seconds) {                // 倒计时,控制这段时间内提示框的变化一起状态转移
                            isCountDown = true;
                            $("#badge_seconds").text(seconds + '秒');        // 设置时间变化
                            seconds--;
                            if (seconds > 0) {
                                setTimeout(function () {
                                    countdown(seconds)
                                }, 1000);
                            }else {
                                isCountDown = false;                        // 时间到
                                $('#alert_putcell').hide();
                            }
                        }
                        countdown(seconds);
                    }
                    if(is_end) {
                        console.log("清除 Interval(getField), 获取游戏结果");
                        clearInterval(inter_getField);
                        getGameResult();
                    }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('get field data error !!!');
                }
            });
        }

        $("#bt_userready").click(function () {
            console.log('userready');

            var userid = $("#userid_hidden").text();
            var roomid = $("#roomid_hidden").text();
            if (userid == ownerid) {
                $.ajax({
                    type: 'post',
                    url: '/begin_game',
                    dataType: 'json',
                    data: {
                        user_id: userid,
                        room_id: roomid
                    },
                    success: function (data) {
                        console.log(data);
                        // 此时如果是/change_user_status,不必对数据进行处理
                        // 如果是/begin_game,需要格局responsecode对结果进行判断
                        if (data.response_code == -2) {
                            // 玩家未全部准备
                            $("#alert_beginfail").show();
                            setTimeout(function () {
                                $("#alert_beginfail").hide();
                            }, 1000);
                        } else if (data.response_code == 1) {
                            // 游戏开始
                            // 设置按钮状态
                            $("#alert_beginsuccess").show();//显示
                            setTimeout(function () {
                                $("#alert_beginsuccess").hide();//显示
                            }, 1000);
                        } else if(data.response_code == -1) {
                            $("#game_warning_info").text("开始失败,请检查房间!!!");
                            $("#modal_warning_info").modal('show');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            } else {
                $.ajax({
                    type: 'post',
                    url: '/change_user_status',
                    dataType: 'json',
                    data: {
                        user_id: userid,
                        room_id: roomid
                    },
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            }
        });

        $("#bt_userexit").click(function () {
            window.location.href = '/exit_game?user_id=' + $("#userid_hidden").text() + '&room_id=' + $("#roomid_hidden").text();
        });

        $("#modal_game_result").on('hidden.bs.modal', function(){
            console.log("模态框被隐藏");
            init();
            getRoomInfo();
        });

        init();
        console.log('开始获取房间信息');
        getRoomInfo();                                  // 一直获取room_info,并设置相关属性
    });
</script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>

